html body {
  line-height: 25px;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  button {
    line-height: 25px;
  }
  .brand-bg {
    margin-top: -16px;
    transform: translate(-50%, 0);
    margin-left: 50%;
  }

  #blobSvg {
    max-width: 500px;
  }

  .stroke {
    border: 4px solid #d1d8e0;
    &.stroke-fill {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      &:after {
        content: "";

        width: 100%;
        height: 100%;
        transform: scale(0.7);
        border-radius: 100%;
        background-color: #4a5568;
      }
    }
  }

  .ant-slider-step {
    background: rgb(209, 216, 224);
  }

  .ant-slider-handle {
    border: solid 3px #4e566b;
    background-color: #f7fafc;
    width: 24px;
    height: 24px;
    margin-top: -9px;
    &:focus,
    &.ant-tooltip-open {
      border-color: #303749;
    }
  }
  .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
    border-color: #303749;
  }

  .ant-modal-mask {
    background-color: rgba(78, 86, 107, 0.71);
  }

  .ant-modal-content {
    border-radius: 11px;
  }

  .ant-tooltip-inner {
    border-radius: 4px;
    font-size: 11px;
    color: #ffffffd6;
    background: #2f3143;
  }

  .ant-popover-inner {
    max-width: 300px;
    border-radius: 10px;
  }

  .ant-popover-arrow {
    display: none;
  }

  .ant-popover-inner-content {
    padding: 25px;
    background: rgba(207, 214, 222, 0.15);
  }

  input.ant-input {
    border-radius: 6px;
    padding: 9px;
    font-weight: bold;
    color: #828b99;
    border-color: #cfd8df;
    border-width: 2px;
  }

  .ant-input:hover {
    border-color: #4e566b;
    border-right-width: 2px !important;
  }

  .ant-input:focus,
  .ant-input-focused {
    border-color: #4c5468;
    border-right-width: 2px !important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(78, 86, 107, 0.34);
    box-shadow: 0 0 0 2px rgba(78, 86, 107, 0.34);
  }

  pre {
    margin: 0 !important;
  }
  pre > code {
    overflow: auto;
    width: 100%;
    display: inline-block;
  }
}
